// Import break points

// Variables
$gutter-mobile: 12px;
$gutter-tablet: 16px;
$gutter-pc: 24px;

.grid {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.grid-expand {
    display: block;
    width: 100%;
}
.grid, .grid-expand {
    overflow: hidden;
    &.no-gutter {
        .row {
            margin: 0 !important;
            .col {
                padding: 0 !important;
            }
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        background-clip: content-box;
        margin: calc(#{$gutter-mobile} * -0.5);
        .col {
            padding: calc(#{$gutter-mobile} * 0.5);
            background-clip: content-box;
            &.m-0 {
                display: none;
            }
            &.m-1 {
                flex-basis: percentage($number:  (1 / 12) * 1);
                max-width: percentage($number:  (1 / 12) * 1);
            }
            &.m-2 {
                flex-basis: percentage($number:  (1 / 12) * 2);
                max-width: percentage($number:  (1 / 12) * 2);
            }
            &.m-3 {
                flex-basis: percentage($number:  (1 / 12) * 3);
                max-width: percentage($number:  (1 / 12) * 3);
            }
            &.m-4 {
                flex-basis: percentage($number:  (1 / 12) * 4);
                max-width: percentage($number:  (1 / 12) * 4);
            }
            &.m-5 {
                flex-basis: percentage($number:  (1 / 12) * 5);
                max-width: percentage($number:  (1 / 12) * 5);
            }
            &.m-6 {
                flex-basis: percentage($number:  (1 / 12) * 6);
                max-width: percentage($number:  (1 / 12) * 6);
            }
            &.m-7 {
                flex-basis: percentage($number:  (1 / 12) * 7);
                max-width: percentage($number:  (1 / 12) * 7);
            }
            &.m-8 {
                flex-basis: percentage($number:  (1 / 12) * 8);
                max-width: percentage($number:  (1 / 12) * 8);
            }
            &.m-9 {
                flex-basis: percentage($number:  (1 / 12) * 9);
                max-width: percentage($number:  (1 / 12) * 9);
            }
            &.m-10 {
                flex-basis: percentage($number:  (1 / 12) * 10);
                max-width: percentage($number:  (1 / 12) * 10);
            }
            &.m-11 {
                flex-basis: percentage($number:  (1 / 12) * 11);
                max-width: percentage($number:  (1 / 12) * 11);
            }
            &.m-12 {
                flex-basis: percentage($number:  (1 / 12) * 12);
                max-width: percentage($number:  (1 / 12) * 12);
            }
            &.m-20per {
                flex-basis: percentage($number:  (1 / 10) * 2);
                max-width: percentage($number:  (1 / 10) * 2);
            }
        }
    }
    
}

// Tablet
@media screen and (min-width: 740px) {
    .grid {
        max-width: 644px;
    }
    .grid, .grid-expand {
        overflow: hidden;
        &.no-gutter {
            .row {
                margin: 0 !important;
                .col {
                    padding: 0 !important;
                }
            }
        }
        .row {
            margin: calc(#{$gutter-tablet} * -0.5);
            .col {
                padding: calc(#{$gutter-tablet} * 0.5);
                &.t-0 {
                    display: none;
                }
                &.t-1 {
                    flex-basis: percentage($number:  (1 / 12) * 1);
                    max-width: percentage($number:  (1 / 12) * 1);
                }
                &.t-2 {
                    flex-basis: percentage($number:  (1 / 12) * 2);
                    max-width: percentage($number:  (1 / 12) * 2);
                }
                &.t-3 {
                    flex-basis: percentage($number:  (1 / 12) * 3);
                    max-width: percentage($number:  (1 / 12) * 3);
                }
                &.t-4 {
                    flex-basis: percentage($number:  (1 / 12) * 4);
                    max-width: percentage($number:  (1 / 12) * 4);
                }
                &.t-5 {
                    flex-basis: percentage($number:  (1 / 12) * 5);
                    max-width: percentage($number:  (1 / 12) * 5);
                }
                &.t-6 {
                    flex-basis: percentage($number:  (1 / 12) * 6);
                    max-width: percentage($number:  (1 / 12) * 6);
                }
                &.t-7 {
                    flex-basis: percentage($number:  (1 / 12) * 7);
                    max-width: percentage($number:  (1 / 12) * 7);
                }
                &.t-8 {
                    flex-basis: percentage($number:  (1 / 12) * 8);
                    max-width: percentage($number:  (1 / 12) * 8);
                }
                &.t-9 {
                    flex-basis: percentage($number:  (1 / 12) * 9);
                    max-width: percentage($number:  (1 / 12) * 9);
                }
                &.t-10 {
                    flex-basis: percentage($number:  (1 / 12) * 10);
                    max-width: percentage($number:  (1 / 12) * 10);
                }
                &.t-11 {
                    flex-basis: percentage($number:  (1 / 12) * 11);
                    max-width: percentage($number:  (1 / 12) * 11);
                }
                &.t-12 {
                    flex-basis: percentage($number:  (1 / 12) * 12);
                    max-width: percentage($number:  (1 / 12) * 12);
                }
                &.t-20per {
                    flex-basis: percentage($number:  (1 / 10) * 2);
                    max-width: percentage($number:  (1 / 10) * 2);
                }
            }
        }
    }
}

// PC
@media screen and (min-width: 1024px) {
    .grid {
        max-width: 984px;
    }
    .grid, .grid-expand {
        overflow: hidden;
        &.no-gutter {
            .row {
                margin: 0 !important;
                .col {
                    padding: 0 !important;
                }
            }
        }
        .row {
            margin: calc(#{$gutter-pc} * -0.5);
            .col {
                padding: calc(#{$gutter-pc} * 0.5);
                &.d-0 {
                    display: none;
                }
                &.d-1 {
                    flex-basis: percentage($number:  (1 / 12) * 1);
                    max-width: percentage($number:  (1 / 12) * 1);
                }
                &.d-2 {
                    flex-basis: percentage($number:  (1 / 12) * 2);
                    max-width: percentage($number:  (1 / 12) * 2);
                }
                &.d-3 {
                    flex-basis: percentage($number:  (1 / 12) * 3);
                    max-width: percentage($number:  (1 / 12) * 3);
                }
                &.d-4 {
                    flex-basis: percentage($number:  (1 / 12) * 4);
                    max-width: percentage($number:  (1 / 12) * 4);
                }
                &.d-5 {
                    flex-basis: percentage($number:  (1 / 12) * 5);
                    max-width: percentage($number:  (1 / 12) * 5);
                }
                &.d-6 {
                    flex-basis: percentage($number:  (1 / 12) * 6);
                    max-width: percentage($number:  (1 / 12) * 6);
                }
                &.d-7 {
                    flex-basis: percentage($number:  (1 / 12) * 7);
                    max-width: percentage($number:  (1 / 12) * 7);
                }
                &.d-8 {
                    flex-basis: percentage($number:  (1 / 12) * 8);
                    max-width: percentage($number:  (1 / 12) * 8);
                }
                &.d-9 {
                    flex-basis: percentage($number:  (1 / 12) * 9);
                    max-width: percentage($number:  (1 / 12) * 9);
                }
                &.d-10 {
                    flex-basis: percentage($number:  (1 / 12) * 10);
                    max-width: percentage($number:  (1 / 12) * 10);
                }
                &.d-11 {
                    flex-basis: percentage($number:  (1 / 12) * 11);
                    max-width: percentage($number:  (1 / 12) * 11);
                }
                &.d-12 {
                    flex-basis: percentage($number:  (1 / 12) * 12);
                    max-width: percentage($number:  (1 / 12) * 12);
                }
                &.d-20per {
                    flex-basis: percentage($number:  (1 / 10) * 2);
                    max-width: percentage($number:  (1 / 10) * 2);
                }
            }
        }

    }
}

// PC wide
@media screen and (min-width: 1240px) {
    .grid {
        max-width: 1200px;
    }
}