.mobile {
    .category {
        padding: 24px 16px 0;
        @include setInternalSpaceY(12px);
        .category__header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .category__title {
                color: $dark-neutral;
            }
            .category__link {
                color: $blue-primary;
            }
        }
        .category__list {
            display: flex;
            flex-wrap: nowrap;
            width: auto;
            margin-left: calc(#{$mobile-padding} * -1);
            margin-right: calc(#{$mobile-padding} * -1);
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
            overflow-x: scroll;
            @include setInternalSpaceX(12px);
            @include hideScrollBar;
            .category__item {
                display: block;
                .category__icon {
                    @include border(70px, 70px, 70px, $white-background, 1px solid $light-neutral);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        @include svgColor($blue-primary);
                    }
                }
                .category__description {
                    color: $grey-neutral;
                    text-align: center;
                }
                @include setInternalSpaceY(8px);
            }
        }
    }
}