.tablet {
    .why-us {
        margin-top: 80px;
        color: $dark-neutral;
        .container {
            justify-content: space-between;
            .why-us__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .why-us__icon {
                    
                }
                .why-us__title {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 40px;
                    margin-top: 25px;
                }
                .why-us__description {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;                    
                }
            }
        }
    }
}