@mixin productCardMobile {
    display: block;
    padding: $mobile-padding;
    background-color: $white-background;
    border: 1px solid $light-neutral;
    border-radius: 5px;
    .product-img {
        img {
            width: 109px;
            height: 109px;
            object-fit: cover;
            object-position: center;
        }
    }
    .product-description {
        width: 100%;
        color: $dark-neutral;
        text-align: left;
        overflow: hidden;
        // to show maximum 2 lines
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .product-price {
        color: $blue-primary;
    }
    .sale-info {
        display: flex;
        @include setInternalSpaceX(8px);
        .initial-price {
            color: $grey-neutral;
        }
        .sale-percentage {
            color: $red-primary;
        }
    }
}
@mixin productCardTablet {
    display: block;
    background-color: $white-background;
    border: 1px solid $light-neutral;
    border-radius: 5px;
    .product-img {
        img {
            width: 109px;
            height: 109px;
            object-fit: cover;
            object-position: center;
        }
    }
    .product-info {
        padding-left: $gutter-tablet;
        padding-right: $gutter-tablet;
        .product-description {
            width: 100%;
            color: $dark-neutral;
            text-align: center;
            overflow: hidden;
            // to show maximum 2 lines
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .sale {
            display: flex;
            justify-content: center;
            align-items: center;
            @include setInternalSpaceX(24px);
            .product-price {
                color: $blue-primary;
            }
            .sale-info {
                display: flex;
                @include setInternalSpaceX(8px);
                .initial-price {
                    color: $grey-neutral;
                }
                .sale-percentage {
                    color: $red-primary;
                }
            }
        }
    }
}