@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9098B1;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9098B1; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9098B1; }

img {
  display: block; }

.hidden {
  display: none !important; }

.star-checked {
  fill: #FFC833 !important; }

a {
  text-decoration: none; }
  a:focus {
    -webkit-tap-highlight-color: transparent; }

.blur {
  animation-name: blur;
  animation-duration: 1.5s; }

@keyframes blur {
  from {
    filter: blur(2px);
    -webkit-filter: blur(2px); }
  to {
    filter: blur(0px);
    -webkit-filter: blur(0px); } }

h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  letter-spacing: 0.5px; }

h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  letter-spacing: 0.5px; }

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.5px; }

h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 0.5px; }

h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  letter-spacing: 0.5px; }

.normal-regular-body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  /* or 22px */
  letter-spacing: 0.5px; }

.normal-bold-body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  /* identical to box height, or 22px */
  letter-spacing: 0.5px; }

.normal-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  text-align: right;
  letter-spacing: 0.5px; }

.small-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  text-align: center;
  letter-spacing: 0.5px; }

.normal-regular-caption {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */
  letter-spacing: 0.5px; }

.normal-regular-line-caption {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */
  letter-spacing: 0.5px;
  text-decoration-line: line-through; }

.normal-bold-caption, .mobile .menu .menu-line .menu-item.active .menu-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */
  letter-spacing: 0.5px; }

.text-button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  text-align: center;
  letter-spacing: 0.5px; }

.normal-form {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  /* identical to box height, or 22px */
  letter-spacing: 0.5px; }

.fill-form {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  /* identical to box height, or 22px */
  letter-spacing: 0.5px; }

.grid {
  display: block;
  width: 100%;
  margin: 0 auto; }

.grid-expand {
  display: block;
  width: 100%; }

.grid, .grid-expand {
  overflow: hidden; }
  .grid.no-gutter .row, .grid-expand.no-gutter .row {
    margin: 0 !important; }
    .grid.no-gutter .row .col, .grid-expand.no-gutter .row .col {
      padding: 0 !important; }
  .grid .row, .grid-expand .row {
    display: flex;
    flex-wrap: wrap;
    background-clip: content-box;
    margin: calc(12px * -0.5); }
    .grid .row .col, .grid-expand .row .col {
      padding: calc(12px * 0.5);
      background-clip: content-box; }
      .grid .row .col.m-0, .grid-expand .row .col.m-0 {
        display: none; }
      .grid .row .col.m-1, .grid-expand .row .col.m-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%; }
      .grid .row .col.m-2, .grid-expand .row .col.m-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%; }
      .grid .row .col.m-3, .grid-expand .row .col.m-3 {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .row .col.m-4, .grid-expand .row .col.m-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%; }
      .grid .row .col.m-5, .grid-expand .row .col.m-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%; }
      .grid .row .col.m-6, .grid-expand .row .col.m-6 {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .row .col.m-7, .grid-expand .row .col.m-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%; }
      .grid .row .col.m-8, .grid-expand .row .col.m-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%; }
      .grid .row .col.m-9, .grid-expand .row .col.m-9 {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .row .col.m-10, .grid-expand .row .col.m-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%; }
      .grid .row .col.m-11, .grid-expand .row .col.m-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%; }
      .grid .row .col.m-12, .grid-expand .row .col.m-12 {
        flex-basis: 100%;
        max-width: 100%; }
      .grid .row .col.m-20per, .grid-expand .row .col.m-20per {
        flex-basis: 20%;
        max-width: 20%; }

@media screen and (min-width: 740px) {
  .grid {
    max-width: 644px; }
  .grid, .grid-expand {
    overflow: hidden; }
    .grid.no-gutter .row, .grid-expand.no-gutter .row {
      margin: 0 !important; }
      .grid.no-gutter .row .col, .grid-expand.no-gutter .row .col {
        padding: 0 !important; }
    .grid .row, .grid-expand .row {
      margin: calc(16px * -0.5); }
      .grid .row .col, .grid-expand .row .col {
        padding: calc(16px * 0.5); }
        .grid .row .col.t-0, .grid-expand .row .col.t-0 {
          display: none; }
        .grid .row .col.t-1, .grid-expand .row .col.t-1 {
          flex-basis: 8.33333%;
          max-width: 8.33333%; }
        .grid .row .col.t-2, .grid-expand .row .col.t-2 {
          flex-basis: 16.66667%;
          max-width: 16.66667%; }
        .grid .row .col.t-3, .grid-expand .row .col.t-3 {
          flex-basis: 25%;
          max-width: 25%; }
        .grid .row .col.t-4, .grid-expand .row .col.t-4 {
          flex-basis: 33.33333%;
          max-width: 33.33333%; }
        .grid .row .col.t-5, .grid-expand .row .col.t-5 {
          flex-basis: 41.66667%;
          max-width: 41.66667%; }
        .grid .row .col.t-6, .grid-expand .row .col.t-6 {
          flex-basis: 50%;
          max-width: 50%; }
        .grid .row .col.t-7, .grid-expand .row .col.t-7 {
          flex-basis: 58.33333%;
          max-width: 58.33333%; }
        .grid .row .col.t-8, .grid-expand .row .col.t-8 {
          flex-basis: 66.66667%;
          max-width: 66.66667%; }
        .grid .row .col.t-9, .grid-expand .row .col.t-9 {
          flex-basis: 75%;
          max-width: 75%; }
        .grid .row .col.t-10, .grid-expand .row .col.t-10 {
          flex-basis: 83.33333%;
          max-width: 83.33333%; }
        .grid .row .col.t-11, .grid-expand .row .col.t-11 {
          flex-basis: 91.66667%;
          max-width: 91.66667%; }
        .grid .row .col.t-12, .grid-expand .row .col.t-12 {
          flex-basis: 100%;
          max-width: 100%; }
        .grid .row .col.t-20per, .grid-expand .row .col.t-20per {
          flex-basis: 20%;
          max-width: 20%; } }

@media screen and (min-width: 1024px) {
  .grid {
    max-width: 984px; }
  .grid, .grid-expand {
    overflow: hidden; }
    .grid.no-gutter .row, .grid-expand.no-gutter .row {
      margin: 0 !important; }
      .grid.no-gutter .row .col, .grid-expand.no-gutter .row .col {
        padding: 0 !important; }
    .grid .row, .grid-expand .row {
      margin: calc(24px * -0.5); }
      .grid .row .col, .grid-expand .row .col {
        padding: calc(24px * 0.5); }
        .grid .row .col.d-0, .grid-expand .row .col.d-0 {
          display: none; }
        .grid .row .col.d-1, .grid-expand .row .col.d-1 {
          flex-basis: 8.33333%;
          max-width: 8.33333%; }
        .grid .row .col.d-2, .grid-expand .row .col.d-2 {
          flex-basis: 16.66667%;
          max-width: 16.66667%; }
        .grid .row .col.d-3, .grid-expand .row .col.d-3 {
          flex-basis: 25%;
          max-width: 25%; }
        .grid .row .col.d-4, .grid-expand .row .col.d-4 {
          flex-basis: 33.33333%;
          max-width: 33.33333%; }
        .grid .row .col.d-5, .grid-expand .row .col.d-5 {
          flex-basis: 41.66667%;
          max-width: 41.66667%; }
        .grid .row .col.d-6, .grid-expand .row .col.d-6 {
          flex-basis: 50%;
          max-width: 50%; }
        .grid .row .col.d-7, .grid-expand .row .col.d-7 {
          flex-basis: 58.33333%;
          max-width: 58.33333%; }
        .grid .row .col.d-8, .grid-expand .row .col.d-8 {
          flex-basis: 66.66667%;
          max-width: 66.66667%; }
        .grid .row .col.d-9, .grid-expand .row .col.d-9 {
          flex-basis: 75%;
          max-width: 75%; }
        .grid .row .col.d-10, .grid-expand .row .col.d-10 {
          flex-basis: 83.33333%;
          max-width: 83.33333%; }
        .grid .row .col.d-11, .grid-expand .row .col.d-11 {
          flex-basis: 91.66667%;
          max-width: 91.66667%; }
        .grid .row .col.d-12, .grid-expand .row .col.d-12 {
          flex-basis: 100%;
          max-width: 100%; }
        .grid .row .col.d-20per, .grid-expand .row .col.d-20per {
          flex-basis: 20%;
          max-width: 20%; } }

@media screen and (min-width: 1240px) {
  .grid {
    max-width: 1200px; } }

.mobile .header {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #EBF0FF; }
  .mobile .header > * {
    margin-left: 16px; }
  .mobile .header > *:first-child {
    margin-left: 0; }
  .mobile .header .header__search {
    border: 1px solid #EBF0FF;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    padding: 12px 16px; }
    .mobile .header .header__search button, .mobile .header .header__search input {
      border: none; }
    .mobile .header .header__search button {
      background-color: unset; }
    .mobile .header .header__search input {
      flex-grow: 1;
      background-color: unset;
      appearance: none; }
    .mobile .header .header__search svg.fill {
      fill: #40BFFF; }
    .mobile .header .header__search svg.stroke {
      stroke: #40BFFF; }
    .mobile .header .header__search > * {
      margin-left: 8px; }
    .mobile .header .header__search > *:first-child {
      margin-left: 0; }
  .mobile .header .header__favourite svg.fill {
    fill: #9098B1; }
  .mobile .header .header__favourite svg.stroke {
    stroke: #9098B1; }
  .mobile .header .header__notification {
    position: relative; }
    .mobile .header .header__notification svg.fill {
      fill: #9098B1; }
    .mobile .header .header__notification svg.stroke {
      stroke: #9098B1; }
    .mobile .header .header__notification #new-notification {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: #FB7181;
      border: none;
      position: absolute;
      top: -2px;
      right: -1px; }

.tablet {
  display: none; }
  .tablet .header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #223263;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; }
    .tablet .header .configuration {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tablet .header .configuration > * {
        margin-left: 14px; }
      .tablet .header .configuration > *:first-child {
        margin-left: 0; }
    .tablet .header .user-access {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tablet .header .user-access > * {
        margin-left: 32px; }
      .tablet .header .user-access > *:first-child {
        margin-left: 0; }
      .tablet .header .user-access .profile {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tablet .header .user-access .profile > * {
          margin-left: 8px; }
        .tablet .header .user-access .profile > *:first-child {
          margin-left: 0; }
        .tablet .header .user-access .profile p {
          width: max-content; }
      .tablet .header .user-access .cart {
        position: relative; }
        .tablet .header .user-access .cart .cart-number {
          box-sizing: content-box;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: #FB7181;
          border: 2px solid #FFFFFF;
          position: absolute;
          top: -50%;
          right: -50%;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center; }
      .tablet .header .user-access .purchase-info {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tablet .header .user-access .purchase-info .total {
          color: #9098B1; }
        .tablet .header .user-access .purchase-info > * {
          margin-left: 32px; }
        .tablet .header .user-access .purchase-info > *:first-child {
          margin-left: 0; }
    .tablet .header svg.fill {
      fill: #223263; }
    .tablet .header svg.stroke {
      stroke: #223263; }
  .tablet .divider {
    background-color: #FAFAFB;
    width: 100%;
    height: 2px; }
  .tablet .nav .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: start; }
    .tablet .nav .brand > * {
      margin-left: 6px; }
    .tablet .nav .brand > *:first-child {
      margin-left: 0; }
    .tablet .nav .brand .brand__name {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px; }
  .tablet .nav .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px; }
    .tablet .nav .navbar .navbar__item a {
      color: #223263; }
    .tablet .nav .navbar .navbar__item.active a {
      color: #40BFFF; }

.mobile .SFS .SFS__item {
  width: 100%;
  position: relative;
  padding: 16px; }
  .mobile .SFS .SFS__item .SFS__img {
    border-radius: 5px;
    width: 100%;
    height: auto; }
  .mobile .SFS .SFS__item .SFS__title {
    position: absolute;
    top: calc(16px + 32px);
    left: calc(16px + 24px);
    color: #FFFFFF; }
  .mobile .SFS .SFS__item .SFS__period {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(16px + 24px);
    bottom: calc(16px + 32px); }
    .mobile .SFS .SFS__item .SFS__period h4 {
      color: #223263;
      width: 42px;
      height: 42px;
      background-color: #FFFFFF;
      border-radius: 5px;
      text-align: center;
      line-height: 42px; }
    .mobile .SFS .SFS__item .SFS__period h5 {
      color: #FFFFFF;
      width: 4px;
      height: auto; }
    .mobile .SFS .SFS__item .SFS__period > * {
      margin-left: 4px; }
    .mobile .SFS .SFS__item .SFS__period > *:first-child {
      margin-left: 0; }

.mobile .SFS .SFS__indicator {
  display: flex;
  justify-content: center; }
  .mobile .SFS .SFS__indicator .SFS__dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #EBF0FF;
    border: none; }
  .mobile .SFS .SFS__indicator .SFS__dot.active {
    background-color: #40BFFF; }
  .mobile .SFS .SFS__indicator > * {
    margin-left: 8px; }
  .mobile .SFS .SFS__indicator > *:first-child {
    margin-left: 0; }

.tablet .SFS {
  position: relative;
  overflow: visible; }
  .tablet .SFS .SFS__banner {
    position: relative; }
    .tablet .SFS .SFS__banner .SFS__img {
      width: 100%;
      height: auto; }
    .tablet .SFS .SFS__banner .SFS__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .tablet .SFS .SFS__banner .SFS__title p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        /* or 96px */
        letter-spacing: 0.5px;
        color: #FFFFFF; }
  .tablet .SFS .SFS__slide {
    position: relative;
    top: -64px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgba(102, 102, 102, 0.15); }
    .tablet .SFS .SFS__slide .product-list {
      align-items: center; }
      .tablet .SFS .SFS__slide .product-list .product-item {
        position: relative; }
        .tablet .SFS .SFS__slide .product-list .product-item img {
          width: 100%;
          height: auto;
          border-radius: 5px;
          outline: 2px solid #EBF0FF; }
        .tablet .SFS .SFS__slide .product-list .product-item .product-description {
          position: absolute;
          width: 55%;
          top: 5%;
          left: 10%;
          color: #223263; }
        .tablet .SFS .SFS__slide .product-list .product-item .product-price {
          position: absolute;
          width: 20%;
          top: 5%;
          right: 10%;
          color: #40BFFF; }
        .tablet .SFS .SFS__slide .product-list .product-item .sale-info {
          position: absolute;
          bottom: 5%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          left: 50%;
          transform: translateX(-50%); }
          .tablet .SFS .SFS__slide .product-list .product-item .sale-info > * {
            margin-left: 8px; }
          .tablet .SFS .SFS__slide .product-list .product-item .sale-info > *:first-child {
            margin-left: 0; }
          .tablet .SFS .SFS__slide .product-list .product-item .sale-info .initial-price {
            color: #9098B1; }
          .tablet .SFS .SFS__slide .product-list .product-item .sale-info .sale-percentage {
            color: #FB7181; }

.tablet .BS {
  margin-top: -30px;
  color: #223263; }
  .tablet .BS .BS__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 52px;
    text-align: center; }
  .tablet .BS .category {
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px; }
    .tablet .BS .category > * {
      margin-left: 60px; }
    .tablet .BS .category > *:first-child {
      margin-left: 0; }
    .tablet .BS .category .category__item a {
      color: #223263; }
    .tablet .BS .category .category__item.active a {
      color: #40BFFF;
      text-decoration: underline; }
  .tablet .BS .product-list .product-item {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #EBF0FF;
    border-radius: 5px; }
    .tablet .BS .product-list .product-item .product-img img {
      width: 109px;
      height: 109px;
      object-fit: cover;
      object-position: center; }
    .tablet .BS .product-list .product-item .product-info {
      padding-left: 16px;
      padding-right: 16px; }
      .tablet .BS .product-list .product-item .product-info .product-description {
        width: 100%;
        color: #223263;
        text-align: center;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .tablet .BS .product-list .product-item .product-info .sale {
        display: flex;
        justify-content: center;
        align-items: center; }
        .tablet .BS .product-list .product-item .product-info .sale > * {
          margin-left: 24px; }
        .tablet .BS .product-list .product-item .product-info .sale > *:first-child {
          margin-left: 0; }
        .tablet .BS .product-list .product-item .product-info .sale .product-price {
          color: #40BFFF; }
        .tablet .BS .product-list .product-item .product-info .sale .sale-info {
          display: flex; }
          .tablet .BS .product-list .product-item .product-info .sale .sale-info > * {
            margin-left: 8px; }
          .tablet .BS .product-list .product-item .product-info .sale .sale-info > *:first-child {
            margin-left: 0; }
          .tablet .BS .product-list .product-item .product-info .sale .sale-info .initial-price {
            color: #9098B1; }
          .tablet .BS .product-list .product-item .product-info .sale .sale-info .sale-percentage {
            color: #FB7181; }
    .tablet .BS .product-list .product-item > * {
      margin-top: 8px; }
    .tablet .BS .product-list .product-item > *:first-child {
      margin-top: 0; }
    .tablet .BS .product-list .product-item .product-img img {
      width: 100%;
      height: auto; }
    .tablet .BS .product-list .product-item .product-info > * {
      margin-top: 6px; }
    .tablet .BS .product-list .product-item .product-info > *:first-child {
      margin-top: 0; }
    .tablet .BS .product-list .product-item .product-info .product-rate {
      display: flex;
      justify-content: center;
      margin-bottom: 12px; }
      .tablet .BS .product-list .product-item .product-info .product-rate > * {
        margin-left: 12px; }
      .tablet .BS .product-list .product-item .product-info .product-rate > *:first-child {
        margin-left: 0; }
      .tablet .BS .product-list .product-item .product-info .product-rate svg {
        fill: #EBF0FF; }
  .tablet .BS .product-list .load-more {
    margin-top: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #40BFFF;
    text-decoration: underline; }

.tablet .banner {
  background-color: #40BFFF;
  overflow: visible;
  margin-top: 5%;
  color: #FFFFFF; }
  .tablet .banner .container {
    overflow: visible; }
    .tablet .banner .container .banner__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .tablet .banner .container .banner__content > * {
        margin-top: 16px; }
      .tablet .banner .container .banner__content > *:first-child {
        margin-top: 0; }
      .tablet .banner .container .banner__content .banner__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px; }
      .tablet .banner .container .banner__content .banner__info {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px; }
      .tablet .banner .container .banner__content .banner__link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: underline; }
    .tablet .banner .container .banner__img img {
      width: 100%;
      height: auto;
      position: relative;
      top: -18%; }

.tablet .why-us {
  margin-top: 80px;
  color: #223263; }
  .tablet .why-us .container {
    justify-content: space-between; }
    .tablet .why-us .container .why-us__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .tablet .why-us .container .why-us__item .why-us__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        margin-top: 25px; }
      .tablet .why-us .container .why-us__item .why-us__description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center; }

.tablet .news {
  margin-top: 80px; }
  .tablet .news .news__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    color: #223263; }
  .tablet .news .container {
    margin-top: 30px; }
    .tablet .news .container .news-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .tablet .news .container .news-item .news__img {
        object-fit: contain;
        width: 50%;
        margin: 15px; }
      .tablet .news .container .news-item .news__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .tablet .news .container .news-item .news__content .news__date {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 27px;
          color: #9098B1; }
        .tablet .news .container .news-item .news__content .news__title {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 33px;
          color: #223263; }
        .tablet .news .container .news-item .news__content .news__text {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #223263; }

.tablet .FP {
  margin-top: 80px;
  color: #223263; }
  .tablet .FP .FP__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 52px;
    text-align: center; }
  .tablet .FP .product-list {
    margin-top: 30px; }
    .tablet .FP .product-list .product-item {
      display: block;
      background-color: #FFFFFF;
      border: 1px solid #EBF0FF;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      border: none; }
      .tablet .FP .product-list .product-item .product-img img {
        width: 109px;
        height: 109px;
        object-fit: cover;
        object-position: center; }
      .tablet .FP .product-list .product-item .product-info {
        padding-left: 16px;
        padding-right: 16px; }
        .tablet .FP .product-list .product-item .product-info .product-description {
          width: 100%;
          color: #223263;
          text-align: center;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; }
        .tablet .FP .product-list .product-item .product-info .sale {
          display: flex;
          justify-content: center;
          align-items: center; }
          .tablet .FP .product-list .product-item .product-info .sale > * {
            margin-left: 24px; }
          .tablet .FP .product-list .product-item .product-info .sale > *:first-child {
            margin-left: 0; }
          .tablet .FP .product-list .product-item .product-info .sale .product-price {
            color: #40BFFF; }
          .tablet .FP .product-list .product-item .product-info .sale .sale-info {
            display: flex; }
            .tablet .FP .product-list .product-item .product-info .sale .sale-info > * {
              margin-left: 8px; }
            .tablet .FP .product-list .product-item .product-info .sale .sale-info > *:first-child {
              margin-left: 0; }
            .tablet .FP .product-list .product-item .product-info .sale .sale-info .initial-price {
              color: #9098B1; }
            .tablet .FP .product-list .product-item .product-info .sale .sale-info .sale-percentage {
              color: #FB7181; }
      .tablet .FP .product-list .product-item .product-img {
        width: 50%; }
        .tablet .FP .product-list .product-item .product-img img {
          width: 100%;
          height: auto; }
      .tablet .FP .product-list .product-item .product-info {
        width: 50%; }
        .tablet .FP .product-list .product-item .product-info > * {
          margin-top: 8px; }
        .tablet .FP .product-list .product-item .product-info > *:first-child {
          margin-top: 0; }
        .tablet .FP .product-list .product-item .product-info .product-description {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: left; }
        .tablet .FP .product-list .product-item .product-info .product-rate {
          display: flex;
          justify-content: flex-start; }
          .tablet .FP .product-list .product-item .product-info .product-rate > * {
            margin-left: 6px; }
          .tablet .FP .product-list .product-item .product-info .product-rate > *:first-child {
            margin-left: 0; }
          .tablet .FP .product-list .product-item .product-info .product-rate svg {
            fill: #EBF0FF; }
        .tablet .FP .product-list .product-item .product-info .sale {
          justify-content: flex-start; }
          .tablet .FP .product-list .product-item .product-info .sale .product-price {
            font-size: 16px;
            font-weight: 500;
            color: #FF6875; }
          .tablet .FP .product-list .product-item .product-info .sale .initial-price {
            font-size: 16px;
            font-weight: 500;
            color: #9098B1; }

.tablet .search {
  width: 70%;
  margin: 60px auto;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgba(64, 191, 255, 0.1);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px; }
  .tablet .search .search__input {
    flex-grow: 1;
    border: none;
    padding: 16px 24px; }
  .tablet .search .search__button {
    padding: 16px 24px;
    background-color: #40BFFF;
    color: #FFFFFF;
    border: none; }

.mobile .category {
  padding: 24px 16px 0; }
  .mobile .category > * {
    margin-top: 12px; }
  .mobile .category > *:first-child {
    margin-top: 0; }
  .mobile .category .category__header {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .mobile .category .category__header .category__title {
      color: #223263; }
    .mobile .category .category__header .category__link {
      color: #40BFFF; }
  .mobile .category .category__list {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    margin-left: calc(16px * -1);
    margin-right: calc(16px * -1);
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .mobile .category .category__list > * {
      margin-left: 12px; }
    .mobile .category .category__list > *:first-child {
      margin-left: 0; }
    .mobile .category .category__list::-webkit-scrollbar {
      display: none; }
    .mobile .category .category__list .category__item {
      display: block; }
      .mobile .category .category__list .category__item .category__icon {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background-color: #FFFFFF;
        border: 1px solid #EBF0FF;
        display: flex;
        justify-content: center;
        align-items: center; }
        .mobile .category .category__list .category__item .category__icon svg.fill {
          fill: #40BFFF; }
        .mobile .category .category__list .category__item .category__icon svg.stroke {
          stroke: #40BFFF; }
      .mobile .category .category__list .category__item .category__description {
        color: #9098B1;
        text-align: center; }
      .mobile .category .category__list .category__item > * {
        margin-top: 8px; }
      .mobile .category .category__list .category__item > *:first-child {
        margin-top: 0; }

.mobile .FS, .mobile .MS {
  padding: 24px 16px 0; }
  .mobile .FS > *, .mobile .MS > * {
    margin-top: 12px; }
  .mobile .FS > *:first-child, .mobile .MS > *:first-child {
    margin-top: 0; }
  .mobile .FS .sale-header, .mobile .MS .sale-header {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .mobile .FS .sale-header .sale-title, .mobile .MS .sale-header .sale-title {
      color: #223263; }
    .mobile .FS .sale-header .sale-link, .mobile .MS .sale-header .sale-link {
      color: #40BFFF; }
  .mobile .FS .sale-list, .mobile .MS .sale-list {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    margin-left: calc(16px * -1);
    margin-right: calc(16px * -1);
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .mobile .FS .sale-list > *, .mobile .MS .sale-list > * {
      margin-left: 16px; }
    .mobile .FS .sale-list > *:first-child, .mobile .MS .sale-list > *:first-child {
      margin-left: 0; }
    .mobile .FS .sale-list::-webkit-scrollbar, .mobile .MS .sale-list::-webkit-scrollbar {
      display: none; }
    .mobile .FS .sale-list .sale-item, .mobile .MS .sale-list .sale-item {
      display: block;
      padding: 16px;
      background-color: #FFFFFF;
      border: 1px solid #EBF0FF;
      border-radius: 5px; }
      .mobile .FS .sale-list .sale-item .product-img img, .mobile .MS .sale-list .sale-item .product-img img {
        width: 109px;
        height: 109px;
        object-fit: cover;
        object-position: center; }
      .mobile .FS .sale-list .sale-item .product-description, .mobile .MS .sale-list .sale-item .product-description {
        width: 100%;
        color: #223263;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .mobile .FS .sale-list .sale-item .product-price, .mobile .MS .sale-list .sale-item .product-price {
        color: #40BFFF; }
      .mobile .FS .sale-list .sale-item .sale-info, .mobile .MS .sale-list .sale-item .sale-info {
        display: flex; }
        .mobile .FS .sale-list .sale-item .sale-info > *, .mobile .MS .sale-list .sale-item .sale-info > * {
          margin-left: 8px; }
        .mobile .FS .sale-list .sale-item .sale-info > *:first-child, .mobile .MS .sale-list .sale-item .sale-info > *:first-child {
          margin-left: 0; }
        .mobile .FS .sale-list .sale-item .sale-info .initial-price, .mobile .MS .sale-list .sale-item .sale-info .initial-price {
          color: #9098B1; }
        .mobile .FS .sale-list .sale-item .sale-info .sale-percentage, .mobile .MS .sale-list .sale-item .sale-info .sale-percentage {
          color: #FB7181; }
      .mobile .FS .sale-list .sale-item > *, .mobile .MS .sale-list .sale-item > * {
        margin-top: 8px; }
      .mobile .FS .sale-list .sale-item > *:first-child, .mobile .MS .sale-list .sale-item > *:first-child {
        margin-top: 0; }

.mobile .RP {
  padding: 16px; }
  .mobile .RP .RP__banner {
    width: 100%;
    height: auto;
    position: relative; }
    .mobile .RP .RP__banner .RP__img {
      border-radius: 5px;
      width: 100%;
      height: auto; }
    .mobile .RP .RP__banner .RP__title {
      position: absolute;
      top: 48px;
      left: 24px;
      color: #FFFFFF; }
    .mobile .RP .RP__banner .RP__content {
      position: absolute;
      left: 24px;
      bottom: 48px;
      color: #FFFFFF; }
  .mobile .RP .product-list {
    padding-bottom: calc(60px + 30px); }
    .mobile .RP .product-list .product-item {
      display: block;
      padding: 16px;
      background-color: #FFFFFF;
      border: 1px solid #EBF0FF;
      border-radius: 5px; }
      .mobile .RP .product-list .product-item .product-img img {
        width: 109px;
        height: 109px;
        object-fit: cover;
        object-position: center; }
      .mobile .RP .product-list .product-item .product-description {
        width: 100%;
        color: #223263;
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .mobile .RP .product-list .product-item .product-price {
        color: #40BFFF; }
      .mobile .RP .product-list .product-item .sale-info {
        display: flex; }
        .mobile .RP .product-list .product-item .sale-info > * {
          margin-left: 8px; }
        .mobile .RP .product-list .product-item .sale-info > *:first-child {
          margin-left: 0; }
        .mobile .RP .product-list .product-item .sale-info .initial-price {
          color: #9098B1; }
        .mobile .RP .product-list .product-item .sale-info .sale-percentage {
          color: #FB7181; }
      .mobile .RP .product-list .product-item > * {
        margin-top: 8px; }
      .mobile .RP .product-list .product-item > *:first-child {
        margin-top: 0; }
      .mobile .RP .product-list .product-item .product-img img {
        width: 100%;
        height: auto; }
      .mobile .RP .product-list .product-item .product-info > * {
        margin-top: 4px; }
      .mobile .RP .product-list .product-item .product-info > *:first-child {
        margin-top: 0; }
      .mobile .RP .product-list .product-item .product-info .product-rate {
        display: flex;
        margin-bottom: 12px; }
        .mobile .RP .product-list .product-item .product-info .product-rate > * {
          margin-left: 2px; }
        .mobile .RP .product-list .product-item .product-info .product-rate > *:first-child {
          margin-left: 0; }
        .mobile .RP .product-list .product-item .product-info .product-rate svg {
          fill: #EBF0FF; }
  .mobile .RP > * {
    margin-top: 16px; }
  .mobile .RP > *:first-child {
    margin-top: 0; }

.mobile .menu {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
  padding-bottom: 30px; }
  .mobile .menu .menu-line {
    border-top: 1px solid #EBF0FF; }
    .mobile .menu .menu-line .menu-item {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center; }
      .mobile .menu .menu-line .menu-item > * {
        margin-top: 4px; }
      .mobile .menu .menu-line .menu-item > *:first-child {
        margin-top: 0; }
      .mobile .menu .menu-line .menu-item .menu-icon {
        position: relative; }
        .mobile .menu .menu-line .menu-item .menu-icon svg {
          display: block; }
          .mobile .menu .menu-line .menu-item .menu-icon svg.fill {
            fill: #9098B1; }
          .mobile .menu .menu-line .menu-item .menu-icon svg.stroke {
            stroke: #9098B1; }
        .mobile .menu .menu-line .menu-item .menu-icon .cart-number {
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: #FB7181;
          border: 2px solid #FFFFFF;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          box-sizing: content-box;
          top: -50%;
          right: -50%; }
      .mobile .menu .menu-line .menu-item .menu-text {
        color: #9098B1; }
      .mobile .menu .menu-line .menu-item.active .menu-icon svg.fill {
        fill: #40BFFF; }
      .mobile .menu .menu-line .menu-item.active .menu-icon svg.stroke {
        stroke: #40BFFF; }
      .mobile .menu .menu-line .menu-item.active .menu-text {
        color: #40BFFF; }

@media screen and (min-width: 740px) {
  .mobile {
    display: none; }
  .tablet {
    display: block; } }

@media screen and (min-width: 1024px) {
  .pc {
    display: block; }
    .pc .nav .navbar {
      font-size: 20px;
      height: 96px; }
    .pc .news .container .news-item {
      flex-direction: row;
      justify-content: unset; }
    .pc .search {
      width: 50%; } }

@media screen and (min-width: 1240px) {
  .pc-wide {
    display: block; } }
