$blue-primary: #40BFFF;
$red-primary: #FB7181;
$white-background: #FFFFFF;
$yellow-primary: #FFC833;
$light-neutral: #EBF0FF;
$dark-neutral: #223263;
$grey-neutral: #9098B1;
$blue-background: rgba(64, 191, 255, 0.1);

