$blue-primary: #40BFFF;
$red-primary: #FB7181;
$pink-primary: #FF6875;
$yellow-primary: #FFC833;
$light-neutral: #EBF0FF;
$dark-neutral: #223263;
$grey-neutral: #9098B1;
$white-background: #FFFFFF;
$blue-background: rgba(64, 191, 255, 0.1);
$light-grey-background: #FAFAFB;
$grey-background: #E5E8EA;

