// Padding
$mobile-padding: 16px;
$mobile-menu-padding-bottom: 30px;

// Height
$mobile-menu-height: 60px;
$mobile-header-height: 78px;
$tablet-header-height: 68px;
$tablet-nav-height: 80px;
$pc-nav-height: 96px;